.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  background-color: #282c34;
  color: white;
  padding: .5rem 1rem;
}

.App-link {
  color: #61dafb;
}